
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  color: rgb(245, 168, 15);
}
h3 {
  font-size: 1.25rem;
  color: rgb(245, 168, 15);
}
h4 {
  font-size: 1.25rem;
  color: rgb(245, 168, 15);
}
p {
  margin-bottom: 0.4rem;
  color: rgb(245, 168, 15);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

}
main {
  width: 80%;
  margin: 0 auto;
  display: grid;
}
.container {
  width: 90%;
  max-width: 1170px;
}
.about-page {
  h1 {
    color: #ffd700;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin-top: 3rem;
    &::before {
      content: '<h1>';
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      color: #ffd700;
      font-size: 15px;
      position: relative;
      top: -3vw;
      opacity: 0.6;
    }
    &::after {
      content: '<h1/>';
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      color: #ffd700;
      font-size: 15px;
      position: relative;
      top: 1.5vw;
      opacity: 0.8;
      animation: fadeIn 1s 1.7s backwards;
    }
  }
  p {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    animation: pulse 1s;
    width: 90%;
    /* text-align: revert; */
    text-align: center;
    margin: 0 auto;
  }
  .job{
    color:#ffd700;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    animation: pulse 1s;
    width: 80%;
    /* text-align: revert; */
    text-align: center;
    margin: 0 auto;
  }
 
  .icons-div{
    // padding: 10px;
    display: flex;
    position:relative;
    left: 8vw;
    // top: -400px;
    text-align: center;

  }
  .stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
@media (max-width: 767px) {
  .stage-cube-cont {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 50vh;
  left: 4vh;
}
.cubespinner {
  animation-name:spincube;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  transform-style:no;
  margin: calc(50% -  100px);
  div {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px #ffd700;
    
  }
}
h1{
  position: relative;
  left: -5vw;
  color: #fff;
  font-size: 2rem;
  &::before {
    content: '<h1>';
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    color: #ffd700;
    font-size: 15px;
    position: relative;
    top: -10vw;
    opacity: 0.6;
  }
  &::after {
    content: '<h1/>';
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    color: #ffd700;
    font-size: 15px;
    position: relative;
    top: 4vw;
    left: 0rem;
    // margin-top: 5vw;
    margin-left: 4vw;
    opacity: 0.6;
    animation: fadeIn 1s 1.7s backwards;
  }
}
.text-zone {
  // margin-top: 0px;
  // margin-left: 4rem;
  position: absolute;
  top: 3vh;
  left: 6vh;
  // margin: 0 40px;
  width: 90%;
  
}
.icons-div{
  // padding: 10px;
  display: flex;
  position:relative;
  left: 3vw;
  // top: -400px;
  text-align: center;

}
p,.job{
  font-size: 0.9rem;
  width: 80%;
  // margin-top: 20px;
  text-align: justify;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
    h1{
      font-size: 3vw;
      // margin-left: 100px;
      color: #fff;
      &::before {
        content: '<h1>';
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        color: #ffd700;
        font-size: 15px;
        position: relative;
        top: -3vw;
        // margin-top: 40px;
        left: 10px;
        opacity: 0.6;
      }
      &::after {
        content: '<h1/>';
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        color: #ffd700;
        font-size: 15px;
        position: relative;
        top: 1.8vw;
        left: -5rem;
        // margin-top: 5vw;
        margin-left: 4vw;
        opacity: 0.6;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    p{
      font-size: 0.9rem;
    }
    .text-zone {
      // background: var(--clr-white);
      margin-top: 30px;
      margin-left: 100px;
      // margin: 90px auto;
      width: 80%;
    }
    .icons-div{
      // padding: 10px;
      display: flex;
      position:relative;
      left: 8vw;
      // top: -400px;
      text-align: center;
    
    }

}   
@media only screen and (min-width: 1200px) {
  .text-zone {
        // margin: 0 auto;
    width: 80%;
    position: relative;
    top: 6vh;
    left: 19vh;
  }
    .stage-cube-cont {
      // background-color:#28a4d9;  
      width: 50%;
      height: 60%;
      // top: -243px;
      // padding-top: 18%;
      // margin-left: 50vh;
      position: absolute;
      top: 20vh;
      left: 120vh;
      // right: 100px;
    }
    .cubespinner {
      position: absolute;
      bottom: 50px;
      top: 200px;
      div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px rgb(107, 107, 16);
      }
    }
    h1{
      font-size: 3vw;
      margin-top:   10rem;
      margin-left: -5rem;
      // margin-left: 100px;
      color: #fff;
      &::before {
        content: '<h1>';
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        color: #ffd700;
        font-size: 15px;
        position: relative;
        top: -3vw;
        // margin-top: 40px;
        left: 2vh;
        opacity: 0.6;
      }
      &::after {
        content: '<h1/>';
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        color: #ffd700;
        font-size: 15px;
        position: relative;
        top: 1.8vw;
        left: -6rem;
        // margin-top: 5vw;
        margin-left: 4vw;
        opacity: 0.6;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
    p, .job{
      font-size: 1.3rem;
      line-height: 30px;
      width: 90%;
      text-align: justify;
      // width:max-content;
    }
   
    
}

  }   
