.contact-page{
    position: absolute;
    top: 80vh;
}
.contact-text-zone {
    position: absolute;
    left: 13vw;
    margin-top: 300px;
    top: 40%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    h1 {
        color: #fff;
        font-size: 4vw;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
        font-weight: 400;

        &:before {
            content: '<h1>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -2.4vw;
            //   left: 10px;
            opacity: 0.6;
        }

        &:after {
            content: '<h1/>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            // font-size: 15px;
            position: absolute;
            margin-top: 4.5vw;
            //   margin-left: 10px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    p {
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        color: rgb(245, 168, 15);
    }
}

.contact-form {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'],
    textarea {
        display: block;
        width: 100%;
        border: 0;
        margin: 0 auto;
        padding: 10px 5px;
        background: transparent no-repeat;
        background-image: linear-gradient(to bottom, #ffd700, #ffd700), linear-gradient(to bottom, rgb(109, 104, 104), silver);
        /* sizes for the 2 images (default state) */
        background-size: 0 2px, 100% 1px;
        /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
        background-position: 100% 100%, 50% 100%;
        transition: background-size 1s cubic-bezier(0.64, 0.09, 0.08, 1);
        color: #fff;

    }

    textarea {
        resize: none;
    }

    input:focus,
    textarea:focus {
        background-size: 100% 2px, 100% 1px;
        outline: none;
    }

    .flat-button {
        color: #ffd700;
        width: 100px;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;
        background: 0 0;
        text-transform: uppercase;
        float: right;
        text-align: center;
        margin-right: 10px;
    }

    .flat-button:hover {
        color: #fff;
        background-color: #ffd700;
    }
}

@media screen and (min-width:360px) {
    .contact-page {
        width: 100%;
        height: 80%;
        left: 20px;
        .contact-text-zone {
            position: relative;
            left: -2vw;
            top: 190px;
            transform: translateY(-50%);
            width: 80%;
            margin: 0 auto;


            // margin: 0 auto;
            h1 {
                color: #fff;
                font-size: 5vw;
                // margin-top: 10px;
                padding-top: 10px;
                // margin: 0 auto;
                // width: 50%;

                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                    'Lucida Sans', Arial, sans-serif;
                font-weight: 400;

                &:before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 14px;
                    position: absolute;
                    margin-top: -2.4vw;
                    left: 10px;
                    opacity: 0.6;
                }

                &:after {
                    content: '<h1/>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 14px;
                    // font-size: 15px;
                    position: absolute;
                    margin-top: 4.5vw;
                    //   margin-left: 10px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            p {
                width: 90%;

            }
        }
    }
}

@media screen and (min-width:384px) {
    .contact-page {
        width: 100%;
        height: 80%;
        left: 20px;
        .contact-text-zone {
            position: relative;
            left: -2vw;
            top: 190px;
            transform: translateY(-50%);
            width: 80%;
            margin: 0 auto;


            // margin: 0 auto;
            h1 {
                color: #fff;
                font-size: 6vw;
                // margin-top: 10px;
                padding-top: 10px;
                // margin: 0 auto;
                // width: 50%;

                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                    'Lucida Sans', Arial, sans-serif;
                font-weight: 600;

                &:before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 14px;
                    position: absolute;
                    margin-top: -2.4vw;
                    left: 2px;
                    opacity: 0.6;
                }

                &:after {
                    content: '<h1/>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 14px;
                    // font-size: 15px;
                    position: absolute;
                    margin-top: 4.5vw;
                    //   margin-left: 10px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            p {
                width: 90%;

            }
        }
    }
}

@media screen and (min-width:412px) {
    .contact-page {
        width: 90%;
        // height: 80%;
        position: absolute;
        left: 57px;
        top: 100px;
        display: flex;
    }
    .contact-text-zone {
        position: relative;
        left: 0vw;
        top: 190px;
        // margin-top: 900px;
        // top: 90%;
        transform: translateY(-50%);
        width: 80%;
    }

@media screen and (min-width:860px) {
    .contact-page {
        width: 90%;
        // height: 80%;
        position: absolute;
        left: 169px;
        top:140px;
        .contact-text-zone {
            position: relative;
            left: -3vw;
            top: 13.5vw;
            transform: translateY(-50%);
            width: 80%;

            // margin: 0 auto;
            h1 {
                // background-color: #ffd700;
                color: #fff;
                font-size: 3.5vw;
                // margin: -10px auto auto;
                width: 50%;

                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                    'Lucida Sans', Arial, sans-serif;
                font-weight: 400;

                &:before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 18px;
                    position: absolute;
                    left: 4.5rem;
                    top: 30px;
                    opacity: 0.6;
                }

                &:after {
                    content: '<h1/>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 18px;
                    // font-size: 15px;
                    position: absolute;
                    margin-top: 4.5vw;
                    //   margin-left: 10px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            p {
                width: 90%;
                // background-color: #ffd700;
                color: #fff;
                text-align: justify;
            }
        }
    }
      
}
@media screen and (min-width:1020px) {
    .contact-page {
        width:100%;
        // height: 80%;
        position: absolute;
        left: 5vw;
        top:5vw;
        .contact-text-zone {
            // background-color: aqua;
            position: relative;
            left: -3vw;
            top: 13.5vw;
            transform: translateY(-50%);
            width: 80%;
            h1 {
                // background-color: #ffd700;
                color: #fff;
                font-size: 3.5vw;
                // margin: -10px auto auto;
                width: 50%;

                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                    'Lucida Sans', Arial, sans-serif;
                font-weight: 400;

                &:before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 18px;
                    position: absolute;
                    left: 4.5rem;
                    top: 30px;
                    opacity: 0.6;
                }

                &:after {
                    content: '<h1/>';
                    font-family: 'La Belle Aurore', cursive;
                    color: #ffd700;
                    font-size: 18px;
                    // font-size: 15px;
                    position: absolute;
                    margin-top: 4.5vw;
                    //   margin-left: 10px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            p {
                width: 90%;
                // background-color: #ffd700;
                color: #fff;
                text-align: justify;
            }
        }
    }
      
}
  
  .map-wrap {
    float: left;
    width: 53%;
    height: 40%;
        position: absolute;
left: 65.4rem;
top: 170px;
  }
  .info-map {
    position: absolute;
    top: 0px;
    left: 64rem;
    z-index: 1;
    width: 290px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  
    span {
      font-size: 16px;
  
      span {
        color: #ffd700;
      }
    }
  }
  
  .leaflet-container {
    position: relative;
    width: 350px;
    height: 280px;
    opacity: 0;
    animation: backInRight 1s 1.5s;
    animation-fill-mode: forwards;
  }
  
  @media screen and (max-width:800px) {
    .map-wrap {
        float: none;
        display: none;
    }
    .info-map {
      display: none;
    }
  }
}
